<!DOCTYPE html>
html(lang="en")

	head

		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="Style/style.css")
		script(src="Script/script.js")
		title Basecamp

	body

		#landing

			#heroVideoAndAudioContainer

				video(src="Assets/Video/Basecamp_Esc_Video.mp4" autoplay)
				audio(src="Assets/Audio/Basecamp_Esc_Audio.mp3" autoplay)

			#heroBasecampText

				h1 Basecamp
				//-.artist

					h2 Aaron Miller
					a(href="https://twitter.com/aaron_tiem")

				//-.artist

					h2 Jordan Reyes
					a(href="https://twitter.com/espercomplex")

				//-.artist

					h2 Aaron C. Harmon
					a(href="https://twitter.com/theultravisitor")