* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
  overflow: hidden;
}

/*-------------------------- Global reusable classes --------------------------*/
.insetBorder {
  margin: 3vh 0;
  padding: 15px;
  width: auto;
  height: auto;
  transition: box-shadow .4s;
}

.insetBorder:hover {
  box-shadow: inset 0 -1px 8px black;
}

.lineBetween {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

/*-------------------------- Loading screen --------------------------*/
#loaderContainer {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loaderContainer #loaderLetterContainer span {
  font-size: 1.3rem;
  color: white;
  margin: 0 10px;
}

#loaderContainer #loaderLetterContainer span:nth-child(1) {
  filter: blur(0px);
  animation: blur-text 1.5s 0s infinite linear alternate;
}

#loaderContainer #loaderLetterContainer span:nth-child(2) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.2s infinite linear alternate;
}

#loaderContainer #loaderLetterContainer span:nth-child(3) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.4s infinite linear alternate;
}

#loaderContainer #loaderLetterContainer span:nth-child(4) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.6s infinite linear alternate;
}

#loaderContainer #loaderLetterContainer span:nth-child(5) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.8s infinite linear alternate;
}

#loaderContainer #loaderLetterContainer span:nth-child(6) {
  filter: blur(0px);
  animation: blur-text 1.5s 1s infinite linear alternate;
}

#loaderContainer #loaderLetterContainer span:nth-child(7) {
  filter: blur(0px);
  animation: blur-text 1.5s 1.2s infinite linear alternate;
}

#loaderContainer #loaderLetterContainer span:nth-child(8) {
  filter: blur(0px);
  animation: blur-text 1.5s 1.4s infinite linear alternate;
}

#loaderContainer #loaderAudio {
  letter-spacing: 5px;
  margin-top: 15px;
  font-size: .8rem;
  color: #838993;
}

#loaderContainer #loaderAudio #leftSide {
  display: inline-block;
  margin-right: 8px;
}

#loaderContainer #loaderAudio #rightSide {
  display: inline-block;
  margin-left: 8px;
}

/*-------------------------- Page 1 Section 1 --------------------------*/
#mainPage {
  width: 100vw;
  height: 100vh;
}

#mainPage #heroVideoAndAudioContainer {
  width: inherit;
  position: absolute;
  background-color: #5C7A92;
  opacity: 0.5;
}

#mainPage #heroVideoAndAudioContainer video {
  width: inherit;
  background-size: cover;
}

#mainPage #basecampSvgContainer {
  position: relative;
  top: calc(50% - 61px);
  margin: 0 23vw;
}

#mainPage #logoSvgContainer {
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#mainPage #volumeControlContainer {
  position: absolute;
  left: 10px;
  bottom: 20px;
}

#mainPage #menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-weight: 100;
  color: white;
  width: auto;
  height: auto;
  top: -1vh;
  right: 2vw;
}

#mainPage #menu:hover {
  cursor: default;
}

#mainPage #menu p {
  letter-spacing: 2px;
}

/*-------------------------- CSS Animations --------------------------*/
@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}
 

 /*# sourceMappingURL= style.css.map */