$grey-light: #928E94;
$grey-dark: #5D5C61;
$blue-light: #7995AC;
$blue-dark: #5C7A92;
$purple-light: #7F697A;
$purple-dark: #604A5B;
$red-dark: #491E1E;
$red-darker: #2A1315;
$transition-timing: .5s;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: $blue-dark;
	font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
	overflow: hidden;
}


/*-------------------------- Global reusable classes --------------------------*/


.insetBorder {
	margin: 3vh 0;
	padding: 15px;
	width: auto;
	height: auto;
	transition: box-shadow .4s;

	&:hover {
		box-shadow: inset 0 -1px 8px black;
	}
}

.lineBetween {
	width: 100%;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.3);
}


/*-------------------------- Loading percentage --------------------------*/


#loader {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 10;
	background-color: black;
	transition: opacity 1s linear;
	//display: flex;
	display: none;
	justify-content: center;
	align-items: center;

	input {
		background-color: transparent;
		color: white;
		text-align: center;
		border: none;
		font-size: 2.5rem;
		font-weight: 100;
	}

	#loaderLine {
		width: 0vw;
		height: 1px;
		background-color: white;
		position: absolute;
		top: 55vh;
		transition: width 2.5s linear;
	}

	#loaderLineLeft {
		background-color: white;
		width: 2vh;
		height: 1px;
		right: 35vw;
		position: absolute;
		top: 56vh;
		transform: rotate(90deg);
		transform-origin: 100% 0%;
	}

	#loaderLineRight {
		background-color: white;
		width: 2vh;
		left: 35vw;
		height: 1px;
		position: absolute;
		top: 54vh;
		transform: rotate(90deg);
		transform-origin: 0% 0%;
	}
}


/*-------------------------- Page 1 Section 1 --------------------------*/


#mainPage {
	width: 100vw;
	height: 100vh;

	#heroVideoAndAudioContainer {
		width: inherit;
		position: absolute;
		background-color: $blue-dark;
		opacity: 0.5;

		video {
			width: inherit;
			background-size: cover;
		}
	}

	#basecampSvgContainer {
		position: relative;
		top: calc(50% - 61px);
		margin: 0 23vw;
	}

	#logoSvgContainer {
		position: absolute;
		bottom: 20px;
		right: 10px;
	}

	#volumeControlContainer {
		position: absolute;
		z-index: 10;
		left: 10px;
		bottom: 20px;
	}

	#menu {
		position: absolute;
		display: flex;
		flex-direction: column;
		font-weight: 100;
		color: white;
		width: auto;
		height: auto;
		top: -1vh;
		right: 2vw;

		&:hover{
			cursor: default;
		}

		p {
			letter-spacing: 2px;
		}
	}
}