$grey-light: #928E94;
$grey-dark: #5D5C61;
$blue-light: #7995AC;
$blue-dark: #5C7A92;
$purple-light: #7F697A;
$purple-dark: #604A5B;
$red-dark: #491E1E;
$red-darker: #2A1315;
$transition-timing: .5s;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: $blue-dark;
	font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
}


/*-------------------------- Loading percentage --------------------------*/


#loader {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 10;
	background-color: black;
	transition: opacity 1s linear;

	#loaderContainer {
		width: 100vw;
		height: 100vh;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: transform 1s cubic-bezier(0.6, 0.1, 0.6, 1);

		input {
			background-color: transparent;
			color: white;
			text-align: center;
			border: none;
			font-size: 2.5rem;
			font-weight: 100;
		}

		#loaderLine {
			width: 0vw;
			height: 1px;
			background-color: white;
			position: absolute;
			top: 55vh;
			transition: width 2.5s linear;
		}

		#loaderLineLeft {
			background-color: white;
			width: 2vh;
			height: 1px;
			right: 35vw;
			position: absolute;
			top: 56vh;
			transform: rotate(90deg);
			transform-origin: 100% 0%;
		}

		#loaderLineRight {
			background-color: white;
			width: 2vh;
			left: 35vw;
			height: 1px;
			position: absolute;
			top: 54vh;
			transform: rotate(90deg);
			transform-origin: 0% 0%;
		}
	}
}


/*-------------------------- Main video page --------------------------*/


#svgWrapper {
	height: inherit;
	z-index: 9;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;

	#audioSvg {
		position: absolute;
		left: 10px;
		top: calc(100vh - 70px);
		width: 44px;
		height: 44px;
		color: white;

		.dontShow {
			display: none;
		}

		&:hover {
			cursor: pointer;
		}
	}
}


/*-------------------------- Page 1 Section 1 --------------------------*/


#mainPage {
	width: 100vw;
	height: 100vh;

	#heroVideoAndAudioContainer {
		width: inherit;
		position: absolute;
		background-color: $blue-light;
		opacity: 0.7;

		video {
			width: inherit;
			background-size: cover;
		}
	}

	#logoSvgContainer {
		position: absolute;
		bottom: 20px;
		right: 10px;
	}

	#audio {
		position: absolute;
		width: 44px;
		left: 10px;
		bottom: 80px;
		font-weight: 100;
		letter-spacing: 2px;
		text-align: center;
		font-size: 0.8rem;
		color: white;
	}

	#menu {
		position: absolute;
		display: flex;
		font-weight: 100;
		justify-content: flex-end;
		color: white;
		width: inherit;
		top: 0;
		left: 0;

		&:hover{
			cursor: default;
		}

		p {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 3rem;
			width: 8rem;
		}

		#svg1 {
			right: 24rem;
		}

		#svg2 {
			right: 16rem;
		}

		#svg3 {
			right: 8rem;
		}

		#svg4 {
			right: 0;
		}

		.svgShape {
			fill: none;
			stroke: white;
			stroke-width: .5px;
			stroke-opacity: 0.3;
			stroke-dasharray: 6rem 12rem;
			stroke-dashoffset: -12rem;
			transition: stroke-width $transition-timing,
				stroke-dasharray $transition-timing,
				stroke-dashoffset $transition-timing;
		}

		svg {
			z-index: 1;

			&:hover {

				.svgShape {
					stroke-width: 1px;
					stroke-opacity: 1;
					stroke-dasharray: 1rem 10rem;
					stroke-dashoffset: -20rem;
				}
			}
		}
	}
}


/*-------------------------- Page 1 Section 2 --------------------------*/


#mainPage2 {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: $red-darker;
}