$grey-light: #928E94;
$grey-dark: #5D5C61;
$blue-light: #7995AC;
$blue-dark: #5C7A92;
$purple-light: #7F697A;
$purple-dark: #604A5B;
$red-dark: #491E1E;
$red-darker: #2A1315;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
	//overflow: hidden;
}


/*-------------------------- Loading animation --------------------------*/


#loader {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 2;
	background-color: teal;

	#loadingAnimation {
		position: absolute;
		z-index: 3;
		width: 100px;
		height: 100px;
		top: calc(50vh - 50px);
		left: calc(50vw - 50px);
		background-color: purple;
	}
}


/*-------------------------- Loading screen --------------------------*/


#loadingPage {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-color: black;

	#svgWrapper {
		height: inherit;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;

		#heroSvg {
			width: 100vw;
			height: 100vh;
			padding-left: 25vw;
			padding-right: 25vw;
		}
	}
}


/*-------------------------- Main video page --------------------------*/


#mainPage {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: -2;

	#heroVideoAndAudioContainer {
		width: inherit;
		position: absolute;

		video {
			width: inherit;
			background-size: cover;
		}
	}

	#svgWrapper {
		height: inherit;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;

		#audioSvg {
			position: absolute;
			left: 10px;
			top: calc(100vh - 54px);
			width: 44px;
			height: 44px;
			color: white;

			.dontShow {
				display: none;
			}
		}
	}

	#audio {
		position: absolute;
		width: 44px;
		left: 10px;
		bottom: 64px;
		font-weight: 100;
		letter-spacing: 2px;
		text-align: center;
		font-size: 0.8rem;
		color: white;
	}

	#menu {
		position: absolute;
		display: flex;
		justify-content: flex-end;
		color: white;
		width: inherit;
		top: 0;
		left: 0;

		&:hover{
			cursor: default;
		}
	}
}